# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store

# Data and drafts
# task_a_filtered_data.json
stuff.txt
pdf_text.txt
*.pdf
*.csv
.gemini/
